* { margin: 0; padding: 0; font-family: 'MuseoModerno', cursive; -webkit-box-sizing: border-box; box-sizing: border-box; }

body { position: relative; background-image: url("../images/bg_white.svg"); background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover; height: 100vh; min-height: 825px; }

.app { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.cover { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: black; -webkit-animation: showCover 0.4s 1s linear; animation: showCover 0.4s 1s linear; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; }

.coverMouse { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0); z-index: 1; cursor: none; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.coverMouse--hide { height: 75px; }

.coverMouse__type { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; height: 50%; background-color: rgba(20, 100, 30, 0); }

.coverMouse__general { width: 150px; height: 50%; background-color: rgba(100, 20, 76, 0); }

@media (min-width: 800px) { .coverMouse__general { width: 340px; } }

.coverMouse__region { -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; height: 50%; background-color: rgba(71, 66, 148, 0); }

.coverMouse__game { width: 100%; height: 50%; background-color: rgba(136, 148, 66, 0); }

@-webkit-keyframes showCover { 100% { background-color: rgba(0, 0, 0, 0.45); } }

@keyframes showCover { 100% { background-color: rgba(0, 0, 0, 0.45); } }

::-webkit-scrollbar { width: 7px; }

::-webkit-scrollbar-track { background: #fff; }

::-webkit-scrollbar-thumb { background: #000; }

::-webkit-scrollbar-thumb:hover { background: #F73636; }

.navWrapper { width: 100%; min-width: 350px; height: 100vh; min-height: 825px; background-color: rgba(0, 0, 0, 0.85); -webkit-transition: 0.3s; transition: 0.3s; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.navWrapper--hide { height: 75px; min-height: 0px; }

@media (min-width: 800px) { .navWrapper { min-width: 705px; min-height: 975px; }
  .navWrapper--hide { height: 75px; min-height: 0px; } }

.nav { position: relative; z-index: 1; width: 300px; height: 300px; -webkit-transform-origin: center; transform-origin: center; border: 20px solid #fff; border-radius: 50%; -webkit-animation: colorChangeBorder 0.3s 2.3s linear forwards; animation: colorChangeBorder 0.3s 2.3s linear forwards; -webkit-transition: 0.3s; transition: 0.3s; }

.nav--hide { width: 50px; height: 50px; border: 2px solid #fff; }

.nav--active { border-color: #fff !important; }

@media (min-width: 800px) { .nav { width: 550px; height: 550px; border: 30px solid #fff; }
  .nav--hide { width: 50px; height: 50px; border: 2px solid #fff; } }

.nav__line { position: absolute; top: 50%; left: 50%; -webkit-transform-origin: center; transform-origin: center; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 0; height: 20px; background-color: #fff; -webkit-animation: fullWidth 0.3s 0.75s linear, colorChangeBg 0.3s 2.3s linear forwards; animation: fullWidth 0.3s 0.75s linear, colorChangeBg 0.3s 2.3s linear forwards; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; z-index: 0; }

.nav__line--active { background-color: #fff !important; }

.nav__line--hide { height: 3px; }

@media (min-width: 800px) { .nav__line { height: 30px; }
  .nav__line--hide { height: 3px; }
  .nav__line--active { background-color: #fff !important; } }

.nav__option { position: absolute; -webkit-transform-origin: center; transform-origin: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-transform: translate(-50%, -50%) scale(0); transform: translate(-50%, -50%) scale(0); width: 80px; height: 80px; border-radius: 50%; cursor: pointer; font-size: 10px; color: #fff; -webkit-transition: 0.2s; transition: 0.2s; }

.nav__option--hide { top: 50% !important; left: 50% !important; opacity: 0; -webkit-box-shadow: none; box-shadow: none; }

@media (min-width: 800px) { .nav__option { width: 130px; height: 130px; font-size: 14px; } }

.nav__general { top: -80px; left: 50%; background-color: #318E95; -webkit-animation: menuShowUp 0.3s 1.35s linear forwards; animation: menuShowUp 0.3s 1.35s linear forwards; }

.nav__general--active { top: -90px; -webkit-box-shadow: 0px 15px 10px 1px rgba(0, 0, 0, 0.65); box-shadow: 0px 15px 10px 1px rgba(0, 0, 0, 0.65); }

@media (min-width: 800px) { .nav__general { top: -130px; }
  .nav__general--active { top: -140px; -webkit-box-shadow: 0px 15px 10px 1px rgba(0, 0, 0, 0.65); box-shadow: 0px 15px 10px 1px rgba(0, 0, 0, 0.65); } }

.nav__type { top: -50px; left: 15px; background-color: #595466; -webkit-animation: menuShowUp 0.3s 1.1s linear forwards; animation: menuShowUp 0.3s 1.1s linear forwards; }

.nav__type--active { top: -60px; -webkit-box-shadow: 0px 15px 10px 1px rgba(0, 0, 0, 0.65); box-shadow: 0px 15px 10px 1px rgba(0, 0, 0, 0.65); }

@media (min-width: 800px) { .nav__type { top: -50px; left: 10px; }
  .nav__type--active { top: -60px; -webkit-box-shadow: 0px 15px 10px 1px rgba(0, 0, 0, 0.65); box-shadow: 0px 15px 10px 1px rgba(0, 0, 0, 0.65); } }

.nav__region { top: -50px; left: calc(100% - 15px); background-color: #FDA08F; -webkit-animation: menuShowUp 0.3s 1.6s linear forwards; animation: menuShowUp 0.3s 1.6s linear forwards; }

.nav__region--active { top: -60px; -webkit-box-shadow: 0px 15px 10px 1px rgba(0, 0, 0, 0.65); box-shadow: 0px 15px 10px 1px rgba(0, 0, 0, 0.65); }

@media (min-width: 800px) { .nav__region { top: -50; left: calc(100% - 10px); } }

.nav__game { top: calc(100% + 80px); left: 50%; background-color: #EFD076; -webkit-animation: menuShowUp 0.3s 1.85s linear forwards; animation: menuShowUp 0.3s 1.85s linear forwards; }

.nav__game--active { top: calc(100% + 90px); -webkit-box-shadow: 0px 15px 10px 1px rgba(0, 0, 0, 0.65); box-shadow: 0px 15px 10px 1px rgba(0, 0, 0, 0.65); }

.nav__game--hide { top: 50%; }

@media (min-width: 800px) { .nav__game { top: calc(100% + 130px); }
  .nav__game--active { top: calc(100% + 140px); -webkit-box-shadow: 0px 15px 10px 1px rgba(0, 0, 0, 0.65); box-shadow: 0px 15px 10px 1px rgba(0, 0, 0, 0.65); } }

.circle { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%) rotateX(90deg); transform: translate(-50%, -50%) rotateX(90deg); width: 300px; height: 300px; border-radius: 50%; -webkit-animation: anime 0.65s alternate linear; animation: anime 0.65s alternate linear; -webkit-transform-style: preserve-3d; transform-style: preserve-3d; z-index: 1; }

.circle--hide { width: 50px; height: 50px; }

@media (min-width: 800px) { .circle { width: 550px; height: 550px; }
  .circle--hide { width: 50px; height: 50px; } }

.circle__innerCircle { position: absolute; top: 0; left: 50%; -webkit-transform: translate(-50%, -50%) rotateX(90deg); transform: translate(-50%, -50%) rotateX(90deg); -webkit-transform-origin: center; transform-origin: center; width: 80px; height: 80px; border: 10px solid #fff; border-radius: 50%; background-color: #000; -webkit-animation: circleTransition 0.3s 1s linear, colorChangeBorder 0.3s 2.3s linear forwards; animation: circleTransition 0.3s 1s linear, colorChangeBorder 0.3s 2.3s linear forwards; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; }

.circle__innerCircle--hide { width: 15px; height: 15px; border: 2px solid #fff; }

.circle__innerCircle--active { border-color: #fff !important; }

@media (min-width: 800px) { .circle__innerCircle { width: 130px; height: 130px; border: 20px solid #fff; }
  .circle__innerCircle--hide { width: 15px; height: 15px; border: 2px solid #fff; }
  .circle__innerCircle--active { border-color: #fff !important; } }

.type__icon, .general__icon, .region__icon, .game__icon { -webkit-transform-origin: center; transform-origin: center; -webkit-transition: 0.3s; transition: 0.3s; }

.type__icon--active, .general__icon--active, .region__icon--active, .game__icon--active { width: 50px; }

@-webkit-keyframes anime { 0% { -webkit-transform: translate(-50%, -50%) rotateX(150deg) rotateZ(180deg); transform: translate(-50%, -50%) rotateX(150deg) rotateZ(180deg); }
  100% { -webkit-transform: translate(-50%, -50%) rotateX(90deg) rotateZ(180deg); transform: translate(-50%, -50%) rotateX(90deg) rotateZ(180deg); } }

@keyframes anime { 0% { -webkit-transform: translate(-50%, -50%) rotateX(150deg) rotateZ(180deg); transform: translate(-50%, -50%) rotateX(150deg) rotateZ(180deg); }
  100% { -webkit-transform: translate(-50%, -50%) rotateX(90deg) rotateZ(180deg); transform: translate(-50%, -50%) rotateX(90deg) rotateZ(180deg); } }

@-webkit-keyframes circleTransition { 100% { background-color: #141414; } }

@keyframes circleTransition { 100% { background-color: #141414; } }

@-webkit-keyframes fullWidth { 100% { width: 100%; } }

@keyframes fullWidth { 100% { width: 100%; } }

@-webkit-keyframes menuShowUp { 100% { -webkit-transform: translate(-50%, -50%) scale(1); transform: translate(-50%, -50%) scale(1); } }

@keyframes menuShowUp { 100% { -webkit-transform: translate(-50%, -50%) scale(1); transform: translate(-50%, -50%) scale(1); } }

@-webkit-keyframes colorChangeBorder { 100% { border-color: rgba(255, 255, 255, 0.25); } }

@keyframes colorChangeBorder { 100% { border-color: rgba(255, 255, 255, 0.25); } }

@-webkit-keyframes colorChangeBg { 100% { background-color: rgba(255, 255, 255, 0.25); } }

@keyframes colorChangeBg { 100% { background-color: rgba(255, 255, 255, 0.25); } }

.pokedex { position: relative; display: none; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; max-width: 2000px; height: 0px; background-color: rgba(0, 0, 0, 0.75); padding: 0px 0px 25px; overflow: hidden; z-index: 2; }

.pokedex--showIt { display: -webkit-box; display: -ms-flexbox; display: flex; height: auto; }

.sortType { display: -webkit-box; display: -ms-flexbox; display: flex; width: 90%; max-width: 1200px; background-color: #eee; border-radius: 5px; padding: 10px 25px; margin-top: 25px; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; min-height: 200px; }

.sortType__title { text-align: center; text-transform: uppercase; font-size: 20px; }

@media (min-width: 800px) { .sortType__title { font-size: 27.5px; } }

.pokemon { display: -webkit-box; display: -ms-flexbox; display: flex; width: 90%; max-width: 1200px; background-color: #eee; border-radius: 5px; padding: 10px 25px; margin-top: 25px; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; min-height: 100vh; }

.pokemon__card { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 150px; height: 200px; background-color: #777; border-radius: 5px; text-align: center; margin: 10px 15px; }

@media (min-width: 800px) { .pokemon__card { width: 300px; height: 400px; } }
/*# sourceMappingURL=style.css.map */