$breakpoints: (
xsmall: (min-width: 460px),
small: (min-width: 640px),
medium: (min-width: 800px),
large: (min-width: 1024px),
xlarge: (min-width: 1200px),
xxlarge: (min-width: 1440px),
xxxlarge: (min-width: 1650px),
);

@mixin mq($breakpoint) {
  $size: map-get($breakpoints, $breakpoint );
  @if($size){
    @media #{$size}{
    @content
    }
  }
} 


@mixin section {
  display: flex;

  width:90%;
  max-width: 1200px;
  background-color: #eee;
  border-radius: 5px;
  padding: 10px 25px;
  margin-top: 25px;
}
