.navWrapper{
    width:100%;
    min-width: 350px;
    height: 100vh;
    min-height: 825px;
    background-color: rgba(0,0,0,0.85);
    transition: 0.3s ;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &--hide{
        height: 75px;
        min-height: 0px;
    }
    
    @include mq(medium){
        min-width: 705px;
        min-height: 975px;

        &--hide{
            height: 75px;
            min-height: 0px;
        }
    }
}

.nav{
    position: relative;
    z-index: 1;

    width:300px;
    height: 300px;
    transform-origin: center;
    border: 20px solid $pokeballColor;
    border-radius: 50%;
    animation: colorChangeBorder 0.3s 2.3s linear forwards;
    transition: 0.3s;

    &--hide{
        width:50px;
        height: 50px;
        border:2px solid $pokeballColor;
    }

    &--active{
        border-color: #fff !important;
    }

    @include mq(medium){
        width:550px;
        height: 550px;
        border: 30px solid $pokeballColor;

        &--hide{
            width:50px;
            height: 50px;
            border:2px solid $pokeballColor;
        }
    }

    &__line{
        position: absolute;
        top:50%;
        left:50%;
        transform-origin: center;
        transform:translate(-50%,-50%);

        width:0;
        height: 20px;
        background-color: $pokeballColor;
        animation:fullWidth 0.3s 0.75s linear, colorChangeBg 0.3s 2.3s linear forwards;
        animation-fill-mode:forwards;
        z-index: 0;

        &--active{
            background-color: #fff !important;
        }

        &--hide{
            height: 3px;
        }

        @include mq(medium){
            height: 30px;

            &--hide{
                height: 3px;
            }

            &--active{
                background-color: #fff !important;
            }
        }
    }

    &__option{
        position: absolute;
        transform-origin: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translate(-50%,-50%) scale(0);
        width:80px;
        height: 80px;
        border-radius: 50%;
        cursor: pointer;
        font-size: 10px;
        color:#fff;
        transition: 0.2s;

        &--hide{
            top:50% !important;
            left:50% !important;
            opacity: 0;
            box-shadow: none;
        }

        @include mq(medium){
            width:130px;
            height: 130px;
            font-size: 14px;
        }
    }

    &__general{
        top:-80px;
        left:50%;
        background-color: #318E95;
        animation: menuShowUp 0.3s 1.35s linear forwards;
        
        &--active{
            top:-90px;
            box-shadow: 0px 15px 10px 1px rgba(0,0,0,0.65);
        }
        @include mq(medium){
            top:-130px;
            
            &--active{
                top:-140px;
                box-shadow: 0px 15px 10px 1px rgba(0,0,0,0.65);
            }
        }
    }

    &__type{
        top:-50px;
        left:15px;
        background-color: #595466;
        animation: menuShowUp 0.3s 1.1s linear forwards;

        &--active{
            top:-60px;
            box-shadow: 0px 15px 10px 1px rgba(0,0,0,0.65);
        }
            @include mq(medium){
                top:-50px;
                left:10px;

                &--active{
                    top:-60px;
                    box-shadow: 0px 15px 10px 1px rgba(0,0,0,0.65);
                }
                   
        }
    }

    &__region{
        top:-50px;
        left:calc(100% - 15px);
        background-color: #FDA08F;
        animation: menuShowUp 0.3s 1.6s linear forwards;

        &--active{
            top:-60px;
            box-shadow: 0px 15px 10px 1px rgba(0,0,0,0.65);
        }
            @include mq(medium){
                top:-50;
                left:calc(100% - 10px);
        }
    }

    &__game{
        top:calc(100% + 80px);
        left:50%;
        background-color: #EFD076;
        animation: menuShowUp 0.3s 1.85s linear forwards;

        &--active{
            top:calc(100% + 90px);
            box-shadow: 0px 15px 10px 1px rgba(0,0,0,0.65);
        }

        &--hide{
            top:50%;
        }
        @include mq(medium){
            top:calc(100% + 130px);

            &--active{
                top:calc(100% + 140px);
                box-shadow: 0px 15px 10px 1px rgba(0,0,0,0.65);
            }
            
            
        }
    }
}


.circle{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) rotateX(90deg);
    width:300px;
    height: 300px;
    border-radius: 50%;
    animation: anime 0.65s alternate linear;
    transform-style: preserve-3d;
    z-index: 1;

    &--hide{
        width: 50px;
        height: 50px;
    }

    @include mq(medium){
        width:550px;
        height: 550px;

        &--hide{
            width: 50px;
            height: 50px;
        }
    }
    

    &__innerCircle{
        position: absolute;
        top:0;
        left:50%;
        transform:translate(-50%,-50%) rotateX(90deg);
        transform-origin: center;
        width: 80px;
        height: 80px;
        border:10px solid #fff;
        border-radius: 50%;
        background-color: #000;
        animation: circleTransition 0.3s 1s linear, colorChangeBorder 0.3s 2.3s linear forwards ;
        animation-fill-mode: forwards;

        &--hide{
            width:15px;
            height: 15px;
            border:2px solid #fff;
        }

        &--active{
            border-color: #fff !important;
        }

        @include mq(medium){
            width: 130px;
            height: 130px;
            border:20px solid #fff;

            &--hide{
                width:15px;
                height: 15px;
                border:2px solid #fff;
            }

            &--active{
                border-color: #fff !important;
            }
        }
    }
}


.type__icon, .general__icon, .region__icon, .game__icon{
transform-origin: center;
transition: 0.3s;
    &--active{
        width:50px;
    }
}


@keyframes anime {
    0%{transform:translate(-50%,-50%) rotateX(150deg) rotateZ(180deg);}
    100%{transform:translate(-50%,-50%) rotateX(90deg) rotateZ(180deg);}
};

@keyframes circleTransition {
    100%{background-color: #141414;}
}

@keyframes fullWidth {
    100%{width:100%}
};

@keyframes menuShowUp{
    100%{transform: translate(-50%,-50%) scale(1);}
}

@keyframes colorChangeBorder{
    100%{border-color: rgba(255,255,255,0.25);}
}

@keyframes colorChangeBg{
    100%{background-color: rgba(255,255,255,0.25);}
}