.pokedex{
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;

    width:100%;
    max-width: 2000px;
    height: 0px;
    background-color: transparent;
    padding:75px 0px 25px;
    overflow: hidden;

    &--showIt{
        display: flex;
        height: auto;
    }
    z-index: 1;
}

.sortType{
    @include section;
    flex-direction: column;
    padding:0;
    padding-bottom: 15px;
    
    min-height: 200px;

    &__title{
        width:100%;
        text-align: center;
        text-transform: uppercase;
        font-size: 26px;
        padding: 15px 0px;
        margin-bottom: 15px;
        background-color: #232323;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color:#fff;

        @include mq(medium){
            font-size: 27.5px
        }
    }

    &__container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__type{
        display: flex;
        justify-content: center;
        align-items: center;
        width:80px;
        height: 80px;
        border-radius: 50%;
        background-color: #aaa;
        text-transform: capitalize;
        margin: 10px 15px;
        font-size: 18px;
        font-family: 'Pragati Narrow', sans-serif;
        cursor: pointer;
        transition: 0.2s;
        color:#fff;

        @include mq(medium){
            width:100px;
            height: 100px; 
            font-size: 20px;
        }

        &:hover{
            transform: translateY(-5px);
        }
    }
}

.pokemonSection{
    @include section;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}


.pokemon{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__card{
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width:175px;
        background-color: #dedede;
        border-radius: 5px;
        text-align: center;
        margin: 10px 15px;
        padding: 15px 5px;
        cursor: pointer;

        @include mq(medium){
            width: 235px;
        }

        &:hover{
            animation: jump 0.2s;
        }
    }

    &__name{
        text-transform: uppercase;
        font-size: 20px;
        font-family: 'Pragati Narrow', sans-serif;
    }

    &__img{
        width:100px;
        margin: 10px 0px;

        @include mq(medium){
            width: 150px;
        }
    }

    &__questionMark{
        width: 60px;
        margin: 10px 0px;

        @include mq(medium){
            width: 90px;
        }
    }

    &__typeContainer{
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
    }

    &__type{
        width: 75px ;
        border-radius: 5px;
        padding: 1.5px 5px;
        margin: 0 2.5px;
        text-transform: capitalize;
        font-family: 'Pragati Narrow', sans-serif;
        color:#fff;
    }

    &__id{
        position: absolute;
        top:5px;
        left:10px;
        margin-top: 5px;
        font-size: 11px;
        color:#444;
    }
}

.pokemonSection__loadMore{
    display: flex;
    justify-content: center;
    align-items: center;
    width:200px;
    height: 45px;
    background-color: #30A7D7;
    border-radius: 5px;
    margin:10px 0px;
    cursor: pointer;
    font-size: 16px;
    color:#fff;

    &--disable{
        display: none;
    }
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    width:100%;
    height: 100px;
    background-color: #333;

    &__input{
        width:200px;
        height: 35px;
        padding: 5px 10px;
        border-radius: 5px;
        margin:0px 10px;
    }

    &__btn{
        width:75px;
        height: 35px;
        padding: 5px 10px;
        background-color: rgb(238,107,47);
        border-radius: 5px;
        color:#fff;
        cursor: pointer;
    }
}

.grass, .sortType__grass{
    background-color: #9BCC50;
}

.water, .sortType__water{
    background-color: #4592C4;
}

.fire, .sortType__fire{
    background-color: #FD7D24;
}

.bug, .sortType__bug{
    background-color: #73A040;
}

.poison, .sortType__poison{
    background-color: #BA80CA;
}

.rock, .sortType__rock{
    background-color: #58534F;
    color: #fff;
}

.ground, .sortType__ground{
    background-color: #AB9842;
}

.electric, .sortType__electric{
    background-color: #EED535;
    color:#000;
}

.flying, .sortType__flying{
    background-color: #b5dee9;
    color:#000;
}

.fighting, .sortType__fighting{
    background-color: #D56723;
}

.psychic, .sortType__psychic{
    background-color: #F467BA;
}

.dragon, .sortType__dragon{
    background-color: #53A4CF;
}

.ghost, .sortType__ghost{
    background-color: #7B62A3;
    color: #fff;
}

.fairy, .sortType__fairy{
    background-color: #FDB9E9;
    color:#000;
}

.ice, .sortType__ice{
    background-color: #51C4E7;
}

.steel, .sortType__steel{
    background-color: #9EB7B8;
}

.dark, .sortType__dark{
    background-color: #707070;
}

.normal, .sortType__normal{
    background-color: #A5ADB0;
}




.sortType__black{
    background-color: #111;
    color:#fff;
}

.sortType__blue{
background-color: #fff;
}

.sortType__blue{
background-color: #4592C4;
}

.sortType__brown{
    background-color: rgb(95, 64, 40);
}

.sortType__gray{
    background-color: #aaa;
}

.sortType__green{
    background-color: #9BCC50;
}

.sortType__pink{
    background-color: #FDB9E9;
    color:#111;
}

.sortType__purple{
    background-color: #722d7b;
}

.sortType__red{
    background-color: #D64C62;
}

.sortType__white{
    background-color: #fff;
    border:0.5px solid #111;
    color:#111;
    
}

.sortType__yellow{
    background-color: #F3D77B;
    color:#111;
}


@keyframes jump{
    50%{
        transform: translateY(-5px);
    }

    100%{
        transform: translateY(0px);
    }
}